 body {
	background-image: url("Small_David.jpg");
	background-size: cover;
	background-repeat: repeat;
}

section {
	color: white;
	
}
nav {
	background-color: black;
	width: 100%;
	padding: 0px;
	text-align: center;
	font-size: 150%;
}

nav a {
	border: 2px;
	border-style: solid;
	border-color: white;
}

nav a:link {
	color: red;
}

nav a:visited {
	color: red;
}

nav a:hover {
	color: cyan;
}

a {
	text-decoration: none;
	font-weight: bold;
}

footer {
	position: fixed;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: black;
}


form {
	max-width: 50%;
	margin-top: 50px;
	padding: 15px;
	background-color: white;
	text-align: center;
	color: black;
	border: 2px;
	border-style: solid;
	border-color: red;
}

#form {
	max-width: 50%;
	margin-top: 50px;
	padding: 15px;
	background-color: white;
	text-align: center;
	color: black;
	border: 2px;
	border-style: solid;
	border-color: red;
}

input {
	max-width: 75%;
}

textarea {
	max-width: 75%;
}
iframe {
	display: block;
	margin: auto;
	border: none;
	}

#name {
	text-align: center;
	font-style: italic;
	text-decoration: underline;
	font-weight: bold;
	color: white;
}

.header {
	text-decoration: underline;
	font-weight: bold;
}

.important {
	text-decoration: underline;
	font-weight: bold; 
}